certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.1
cycler==0.11.0
decorator==4.4.2
dimod==0.9.13
dwave-cloud-client==0.8.7
dwave-networkx==0.8.8
dwave-system==1.4.0
dwave-tabu==0.4.5
fasteners==0.19
fonttools==4.42.1
homebase==1.0.1
idna==3.4
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
minorminer==0.2.6
networkx==2.8.8
numpy==1.20.0
packaging==23.1
Pillow==10.0.1
plucky==0.4.3
pyparsing==3.1.1
PySMT==0.9.5
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.31.0
scipy==1.10.1
six==1.16.0
urllib3==2.0.5
z3-solver==4.12.2.0
zipp==3.17.0

# Note: 'dimod==0.9.13' was compatible with python3.8